aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 258px;

  .aside-container {
    width: 100%;
    padding: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: $white2;

    img {
      width: 60px;
      height: 60px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10%;
      width: 90%;

      h4 {
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        color: $grey1;
        line-height: 24px;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .aside-container {
      .content {
        h4 {
          font-size: 15px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .aside-container {
      max-width: 190px;
    }
  }
  @media screen and (max-width: 1025px) {
    .aside-container {
      padding: 16px;
      max-width: 190px;
    }
  }
}
