@font-face {
  font-family: 'roboto-700';
  src: url(../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'roboto-500';
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'roboto-400';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

$font700: 'roboto-700', sans-serif;
$font500: 'roboto-500', sans-serif;
$font400: 'roboto-400', sans-serif;
$red1: rgb(255, 0, 0);
$red2: rgb(230, 0, 0);
$white1: rgb(255, 255, 255);
$white2: rgb(251, 251, 251);
$black1: rgb(2, 2, 3);
$black2: rgb(40, 45, 48);
$black3: rgb(32, 37, 58);
$grey1: rgb(116, 121, 140);
$grey2: rgb(155, 158, 172);

:export {
  red1: $red1;
  red2: $red2;
  white1: $white1;
  white2: $white2;
  black1: $black1;
  black2: $black2;
  grey1: $grey1;
  grey2: $grey2;
  font700: $font700;
  font500: $font500;
  font400: $font400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: $font500;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.loading-graph,
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-graph {
  p {
    padding: 20px 0;
  }
}

.error-container {
  text-align: center;
  p:first-child {
    color: $red1;
    font-size: 25px;
    padding: 15px 0;
  }
}

.json {
  margin: 10px 15px;
  width: 100vw;
  max-width: 500px;
  word-break: break-all;
  line-height: 24px;
  letter-spacing: 1px;
}
